:root {
  --light-color: #fff;
}
@font-face {
  font-family: "sdlc-font";
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf");
}
body {
  margin: 0;
  padding: 0;
}
.top-container {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: rgb(176, 176, 176);
}
nav ul {
  list-style-type: none;
  margin: 0px;
}
nav ul li {
  display: inline-block;
  background-color: #4b54e1;
  padding: 4px 8px;
  border: 2px solid #0a0099;
  border-radius: 5px;
  margin: 2px 4px;
}
nav ul li a {
  text-decoration: none;
  color: var(--light-color);
}
nav ul li:hover {
  box-shadow: 4px 4px 3px rgb(252, 120, 49);
}
nav ul li:hover a {
  color: rgb(252, 120, 49);
}
/* header > div,
  header > nav {
    display: inline-block;
  }
  header > div {
     float: left; 
  }
  header > nav {
    float: right;
  } */
header {
  display: flex;
}
header nav {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

/* header {
    display: flex;
    align-items: flex-start;
  }
  header > * {
    flex: 1;
  }
  header nav {
    display: flex;
   justify-content: end;
  } */
.container {
  width: 85%;
  margin: auto;
  padding: 5px 10px;
  box-shadow: 0px 3px 6px #9999;
}
.text-center {
  text-align: center;
}
main {
  flex-grow: 1;
}

.m-y-1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer {
  background-color: #e2e2e2;
  background-image: linear-gradient(#e2e2e2, #a2a2a2 60%);
  padding: 10px;
  /* font-family: "Poppins", sans-serif;
    font-style: italic; */
  font-family: "sdlc-font";
}
